.preamble_textArea > * > textarea {
	width: 45em;
	min-height: 10em;
}
.settings_textfield >*> input{
    width: 30em;
}
.latexPro-inline-tag-decoration {
    font-style: italic;
	color: #5A5CAD;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.latexPro-inline-tag-decoration::before{
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.08);
	border-radius: 3px;
	pointer-events: none;
	z-index: 1;
}

.latexPro-inline-tag-marker{
	color: #5A5CAD;
}
.latexPro-inline-command{
	color: black;
}
.latexPro-inline-brace{
	color: black;
}